.add-todo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.add-todo-wrapper > input {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}

.add-todo-wrapper > button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    background-color: #fff;
    min-height: auto;
}
